histogrammes/
sobel/
rapport.pdf
scripts/**/*.pyc
.*
rapport/**/*.aux
rapport/**/*.lot
rapport/**/*.lof
rapport/**/*.log
rapport/**/*.out
rapport/**/*.pdf
rapport/**/*.toc
rapport/rapport_particulier/rapport.md
